.pad {
    padding: 16px calc(50% - 556px);;
}

.top-positions-greetings {

    margin-top: 40px;

    h2{
        font-weight: bold;
        font-size: 36px;
        line-height: 20px;
        color: var(--text-color);
    }

    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: var(--text-secondary-color);
        margin-top: 25px;
        max-width: 540px;
    }
}