.cart-container {
    display: flex;

    
}

.cart-check {
    width: 360px;
    height: 720px;
    background-color: var(--item-background-color);
}

.cart {
    padding: 16px;

    h3{
        color: var(--product-name-color);
        font-weight: bold;
        font-size: 24px;
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
}

.cart__inner {
    width: 730px;
    height: 712px;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: 0;

    &__top {
        position: absolute;
        top: 0;
        background: linear-gradient(to bottom, var(--main-background-color) 0,rgba(255,255,255,0) 100%);
        height: 40px;
        width: 100%;
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, var(--main-background-color) 0,rgba(255,255,255,0) 100%);
        height: 40px;
        width: 100%;
    }
}

.cart__inner::-webkit-scrollbar {
    display: none;
}

.cart-item {
    height: 138px;
    width: 680px;
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    margin-top: 12px;
    position: relative;

    &-photo {
        height: 136px;
        width: 240px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    &-info {
        height: 136px;
        width: 440px;
        position: relative;
        z-index: 2;
        padding: 8px 16px;
        background-color: var(--item-background-color);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        &-title {
            font-weight: bold;
            font-size: 20px;

            span {
                font-weight: 550;
                font-size: 16px;
            }
        }

        &-description {
            margin-top: 4px;
            font-size: 16px;
            color: var(--text-secondary-color);
        }

    }

    &-info:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        background: var(--item-background-color);
        transform-origin: 100% 0;
        transform: skew(-25deg);
        z-index: -1;
    }

    &-bottom {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: space-between;
        position: absolute;
        bottom: 10px;
        width: 90%;
    }


}

.cart-remove-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 3;
    color: var(--item-background-color);
    padding: 0 0 0 5px;
    font-size: 19px;
    cursor: pointer;
}

.quantity-control {
    display: flex;

    div {
        width: 24px;
        height: 24px;
    }

    &__decrement,
    &__increment {
        border-radius: 50%;
        cursor: pointer;
        background-size: 21px;
        background-position: center;
    }

    &__decrement {
        border: 1px solid var(--main-color);
        background-color: var(--item-background-color);
        background-image: url(../../../assets/Minus.png);
    }

    &__increment {
        border: none;
        background-color: var(--main-color);
        background-image: url(../../../assets/Plus.png);
    }

    &__quantity {
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.types_price.large {
    font-size: 26px;
    margin-top: 0;
}